@font-face {
  font-family:'Eau Sans';
  font-style:normal;
  font-weight:300;
  src:local("Eau Sans Book"),url(../fonts/Eau-SansBook.woff) format("woff");
}

@font-face {
  font-family:'Lato light';
  font-style:normal;
  font-weight:300;src:local("Lato light"),url(../fonts/lato-light.woff) format("woff");
}

header {
  font-size:1.5vw;
  font-family:"Eau Sans",sans-serif;
  font-weight:700;
  text-align:center;
  height:5.5em;
  padding:1.4em 2em 2em 2em;
  overflow:hidden;
  background:#293332;
  color:#fdfdfd;
  border-top:0.6em solid #e6b415;
}

header h1 {
  margin-top:0;
}

header h2 {
  font-size:0.8em;
  margin-top:0;
}

body {
  background-image:url('shmula-acoustic-ceiling-tiles.jpg');
  padding-bottom:0.6em;
}

body:after {
  content:"if you really really love me, you could email me at hi@leakypixel.net";
  display:block;
  font-size:0.6em;
  color:#999;
  text-align:center;
  margin-top:1em;
}

.my-ugly-mug {
  max-width:7em;
  max-height:7em;
  border-radius:50%;
  border:0.2em solid #fdfdfd;
}

@media only screen and (max-width: 800px) {
  header {
    font-size:4.8vw;
    padding:5vw 2vw;
  }
  header {
    height:auto;
  }
}
