@font-face {
  font-family:'Eau Sans';
  font-style:normal;
  font-weight:300;
  src:local("Eau Sans Book"),url(../fonts/Eau-SansBook.woff) format("woff");
}

@font-face {
  font-family:'Lato light';
  font-style:normal;
  font-weight:300;
  src:local("Lato light"),url(../fonts/lato-light.woff) format("woff");
}

* {
  line-height:160%;
  -webkit-font-smoothing:antialiased;
}

body,html {
  margin:0;
  padding:0;
  height:100%;
  background-color:#fdfdfd;
  color:#0c0c0c;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  font-family:"Lato light",sans-serif;
  font-size:16px;
  font-size:1.2vw;
}

body {
  padding-bottom:1.6em;
}

h1,h2,h3,h4,h5,h6 {
  font-family:"Eau Sans",sans-serif;
}

header {
  margin:0;
  padding:1.6em;
}

p,ul,li {
  font-size:1em;
}

ul {
  padding-left:3em;
}

a {
  color:#e6b415;
}

h1 {
  font-size:2em;
}

h2 {
  font-size:1.4em;
}

h1,h2,h3,h4,h5,h6 {
  margin:0.4em 0 0 0;
  font-weight:400;
}

hr {
  height:2px;
  padding:0;
  border:none;
  background-color:#ccc;
  border-radius:100%;
  margin:4em 0;
}

hr.pagebreak {
  visibility:hidden;
  height:0;
  margin:0;
}

.tweet,.repo {
  padding:1em 0 0 0;
}

.tweet:before,.repo:before {
  content:" ";
  width:40%;
  display:block;
  margin:0 auto;
  border-top:1px solid #ddd;
  padding-bottom:1em;
}

.tweet:first-of-type:before,.repo:first-of-type:before {
  content:none;
}

.github-feed h2,.twitter-feed h2 {
  text-align:center;
}

@media only screen and (max-width: 800px) {
  body {
    font-size:56px;
    font-size:4.2vw;
  }
  section {
    padding:1em 2em;
  }
}

@media only screen and (max-width: 460px) {
  body {
    font-size:72px;
    font-size:5.4vw;
  }
  header {
    margin-bottom:1.2em;
  }
  section {
    padding:0 0.8em;
  }
}

@media print {
  a:after {
    content:" (" attr(href) ") ";
    font-size:0.8em;
    font-weight:normal;
  }
  hr.pagebreak {
    page-break-after:always;
  }
  .nopagebreak,h1,h2,h3,h4,h5,h6 {
    page-break-after:avoid;
  }
}
